In [1]:
import os
from pathlib import Path
import pandas as pd

In [2]:
PROJECT_ROOT = Path(os.getcwd()).resolve().parents[0]

In [3]:
df = pd.read_csv(PROJECT_ROOT / "data/cd_data_2013_2023.csv")

In [15]:
df[df["contrat"] == 217184]

,partenaire,contrat,activite,secteur,annee,mois,ventes,consommation,temperature,Date d'emménagement,Date de déménagement,puissance facturée
11616,ONCF,217184,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2013,1,857.822,857.822,12.445161,NaN,NaN,NaN
11617,ONCF,217184,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2013,2,790.877,790.877,11.139286,NaN,NaN,NaN
11618,ONCF,217184,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2013,3,840.635,840.635,13.570968,NaN,NaN,NaN
11619,ONCF,217184,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2013,4,773.610,773.610,15.416667,NaN,NaN,NaN
11620,ONCF,217184,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2013,5,811.223,811.223,17.103226,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11743,ONCF,217184,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2023,8,0.000,0.000,25.648387,NaN,NaN,NaN
11744,ONCF,217184,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2023,9,0.000,0.000,22.186667,NaN,NaN,NaN
11745,ONCF,217184,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2023,10,0.000,0.000,20.906452,NaN,NaN,NaN
11746,ONCF,217184,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2023,11,0.000,0.000,16.206667,NaN,NaN,NaN
11747,ONCF,217184,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2023,12,0.000,0.000,13.500000,NaN,NaN,NaN

In [14]:
df[df["contrat"] == 6149701].isna().sum()

partenaire               0
contrat                  0
activite                 0
secteur                  0
annee                    0
mois                     0
ventes                   0
consommation             0
temperature             12
Date d'emménagement     60
Date de déménagement    60
puissance facturée      60
dtype: int64

In [20]:
df["activite"].unique()

array(["PRODUCTION ET DISTTRIBUTION D'ELECTRICITE, DE GAZ ET DE CHALEUR",
       'INDUSTRIE AUTOMOBILE', 'INDUSTRIE CHIMIQUE',
       'EXTRACTION, EXPLOITATION ET ENRICHISSEMENT DE MINERAIS METTALLIQUES',
       "CAPTAGE, TRAITEMENT ET DISTRIBUTION D'EAU",
       "FABRICATION D'AUTRES PRODUITS MINERAUX NON METALLIQUES",
       'INDUSTRIE DU PAPIER ET DU CARTON', 'INDUSTRIE TEXTILE',
       'METALLURGIE', 'ADMINISTRATION PUBLIQUE',
       'BATIMENT ET TRAVAUX PUBLICS', 'industries alimentaires',
       'AUTRES INDUSTRIES EXTRACTIVES',
       'SERVIVES AUXILIAIRES DES TRANSPORTS', 'TRANSPORTS TERESSTRES',
       'AGRICULTURE, CHASSE, SERVICES ANNEXES', 'TRAVAIL DES METAUX',
       'COKEFACTION, RAFFINAGE, INDUSTRIE NUCLEAIRE',
       "FABRICATION D'EQUIPEMENTS DE RADIO, TELEVISION ET COMMUNICATION"],
      dtype=object)

In [ ]:
df_activite = df[df['activite'] == "AUTRES INDUSTRIES EXTRACTIVES"].copy()
df_activite = df_activite.groupby(['annee', 'mois']).agg({
    VARIABLE: 'sum',
    'temperature': 'mean',
    'puissance facturée': 'sum'
}).reset_index()