In [31]:
import os
from pathlib import Path
import pandas as pd

In [32]:
from onee.utils import get_move_in_year

In [33]:
PROJECT_ROOT = Path(os.getcwd()).resolve().parents[0]

In [34]:
df = pd.read_csv(PROJECT_ROOT / "data/cd_data_2013_2023.csv")

In [19]:
df.columns

Index(['partenaire', 'contrat', 'activite', 'secteur', 'annee', 'mois',
       'ventes', 'consommation', 'temperature', 'puissance facturée',
       'Date d'emménagement', 'Date de déménagement', 'puissance appelée'],
      dtype='object')

In [29]:
58600/4

14650.0

In [30]:
for el in df[df["contrat"] == 7875826][df["annee"] >= 2018]["puissance facturée"][-1:]:
    print(el)

18750.0

C:\Users\Soufiane.AITELAOUAD\AppData\Local\Temp\ipykernel_2372\1889121266.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  for el in df[df["contrat"] == 7875826][df["annee"] >= 2018]["puissance facturée"][-1:]:

In [8]:
df_c = df[df["contrat"] == 460944]

In [13]:
df_c

,partenaire,contrat,activite,secteur,annee,mois,ventes,consommation,temperature,puissance facturée,Date d'emménagement,Date de déménagement,puissance appelée
15180,ONCF,460944,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2013,1,0.184,0.184,12.445161,0.0,NaN,NaN,NaN
15181,ONCF,460944,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2013,2,0.157,0.157,11.139286,0.0,NaN,NaN,NaN
15182,ONCF,460944,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2013,3,0.173,0.173,13.570968,0.0,NaN,NaN,NaN
15183,ONCF,460944,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2013,4,0.165,0.165,15.416667,0.0,NaN,NaN,NaN
15184,ONCF,460944,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2013,5,0.186,0.186,17.103226,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15307,ONCF,460944,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2023,8,0.000,0.000,25.648387,0.0,2007-05-01,2018-07-01 00:00:00,0.0
15308,ONCF,460944,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2023,9,0.000,0.000,22.186667,0.0,2007-05-01,2018-07-01 00:00:00,0.0
15309,ONCF,460944,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2023,10,0.000,0.000,20.906452,0.0,2007-05-01,2018-07-01 00:00:00,0.0
15310,ONCF,460944,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2023,11,0.000,0.000,16.206667,0.0,2007-05-01,2018-07-01 00:00:00,0.0
15311,ONCF,460944,TRANSPORTS TERESSTRES,TRSP. FERROVIAIRES VOYAGEURS,2023,12,0.000,0.000,13.500000,0.0,2007-05-01,2018-07-01 00:00:00,0.0

In [11]:
get_move_in_year(df_c, not_started_yet_th=-1)

2007

In [12]:
df_c["annee"].unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [5]:
df.columns

Index(['partenaire', 'contrat', 'activite', 'secteur', 'annee', 'mois',
       'ventes', 'consommation', 'temperature', 'puissance facturée',
       'Date d'emménagement', 'Date de déménagement', 'puissance appelée'],
      dtype='object')

In [4]:
df.head(5).to_csv("cd_data_2013_2023_sample.csv")

In [55]:
excel = pd.read_excel(PROJECT_ROOT / "outputs_cd/out_all.xlsx")

In [56]:
out = []
for el in excel["Entity"].dropna():
    contrat = el.split("_")[1]
    activite = df[df["contrat"] == int(contrat)]["activite"].unique()[0]
    out.append((contrat, activite))

result = pd.DataFrame(out, columns=["contrat", "activité"])

In [57]:
result.to_csv("sdfsdf.csv")

In [58]:
for i in range(2,2):
    print(i)

## replace contrat

In [59]:
df[df["contrat"] == 6149701].isna().sum()

partenaire               0
contrat                  0
activite                 0
secteur                  0
annee                    0
mois                     0
ventes                   0
consommation             0
temperature             12
Date d'emménagement     60
Date de déménagement    60
puissance facturée      60
dtype: int64

In [60]:
df[df["contrat"] == 217184].isna().sum()

partenaire                0
contrat                   0
activite                  0
secteur                   0
annee                     0
mois                      0
ventes                    0
consommation              0
temperature              12
Date d'emménagement     132
Date de déménagement    132
puissance facturée      132
dtype: int64

In [61]:
df.loc[df["contrat"] == 217184, ["Date d'emménagement", "Date de déménagement"]] = \
df.loc[df["contrat"] == 6149701, ["Date d'emménagement", "Date de déménagement"]].values

In [62]:
df["contrat"] = df["contrat"].replace({217184:6149701})

In [71]:
len(df)

21384

In [72]:
len(df.columns)

12

In [73]:
def unique_or_error(x):
    uniques = x.dropna().unique()
    if len(uniques) == 1:
        return uniques[0]
    elif len(uniques) == 0:
        return None
    else:
        raise ValueError(f"Multiple unique values found in group: {uniques}")

df = df.groupby(
    ['partenaire', 'contrat', 'activite', 'secteur', 'annee', 'mois'],
    as_index=False
).agg({
    "ventes": "sum",
    "consommation": "sum",
    "temperature": "mean",
    "puissance facturée": "sum",
    "Date d'emménagement": unique_or_error,
    "Date de déménagement": unique_or_error
})

In [74]:
len(df)

21252

In [75]:
len(df.columns)

12

In [77]:
df[df.duplicated()]

Empty DataFrame
Columns: [partenaire, contrat, activite, secteur, annee, mois, ventes, consommation, temperature, puissance facturée, Date d'emménagement, Date de déménagement]
Index: []

In [78]:
df.isna().sum()

partenaire                  0
contrat                     0
activite                    0
secteur                     0
annee                       0
mois                        0
ventes                      0
consommation                0
temperature              1932
puissance facturée          0
Date d'emménagement     10596
Date de déménagement    10596
dtype: int64

In [79]:
df.dtypes

partenaire               object
contrat                   int64
activite                 object
secteur                  object
annee                     int64
mois                      int64
ventes                  float64
consommation            float64
temperature             float64
puissance facturée      float64
Date d'emménagement      object
Date de déménagement     object
dtype: object

In [80]:
len(df["contrat"].unique())

161

In [81]:
df.to_csv(PROJECT_ROOT / "data/cd_data_2013_2023.csv", index = False)

In [82]:
import sqlite3
db_conn = sqlite3.connect(PROJECT_ROOT / "data/cd_database_2013_2023.db")
df.to_sql("cd", db_conn, if_exists="replace", index=False)

21252

## Puiss appelé

In [162]:
import numpy as np

In [163]:
raw_source = pd.read_excel(PROJECT_ROOT / "data/raw/Puissances appelées CD.xlsx", sheet_name = "Tarif super pointe")

In [165]:
new_columns = pd.MultiIndex.from_arrays(raw_source.iloc[3:5].values)

# Drop the first two rows and set the new columns
raw_source.columns = new_columns

raw_source = raw_source.iloc[5:].reset_index(drop=True)

In [166]:
raw_source = raw_source.drop(columns = [(np.nan, 'Business Partner')])

In [167]:
raw_source[(np.nan, 'Contrat')] = raw_source[(np.nan, 'Contrat')].astype(int)

In [168]:
new_mapping = {
    5729390: 6447659,
    5731079: 6457296,
    5741477: 6434280,
    6192130: 6457387,
    6160312: 6457370,
    217176: 6500531,
    217169: 8192392,
    5331362: 9236601,
    217184:6149701,
}

In [169]:
raw_source.replace(new_mapping, inplace=True)

C:\Users\Soufiane.AITELAOUAD\AppData\Local\Temp\ipykernel_3520\225166059.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  raw_source.replace(new_mapping, inplace=True)

In [170]:
len(raw_source)

5

In [171]:
raw_source = raw_source.groupby((np.nan, "Contrat"), as_index = False).sum()

In [172]:
import pandas as pd
import numpy as np

# Prepare an empty DataFrame for results
pf_df = pd.DataFrame(index=raw_source.index)

# Loop over each month (first level of MultiIndex)
for month in raw_source.columns.levels[0][:-1]:
    subcols = raw_source[month]

    # Check which tariff columns exist for this month
    cols = subcols.columns

    if set(['HP', 'HPL', 'HC']).issubset(cols):
        # --- Tarif Optionnel ---
        PS1 = subcols['HP']
        PS2 = subcols['HPL']
        PS3 = subcols['HC']
        Pf = PS1 + 0.6*(PS2 - PS1) + 0.4*(PS3 - PS2)

    elif set(['HSP', 'HP', 'HPL', 'HC']).issubset(cols):
        # --- Tarif Super Pointe ---
        PS1 = subcols['HSP']
        PS2 = subcols['HP']
        PS3 = subcols['HPL']
        PS4 = subcols['HC']
        Pf = PS1 + 0.8*(PS2 - PS1) + 0.6*(PS3 - PS2) + 0.4*(PS4 - PS3)

    else:
        # If no known tariff combination found
        Pf = np.nan

    # Add Pf as the only subcolumn for this month
    pf_df[(month, 'Pf')] = Pf

# Sort and clean up columns
pf_df.columns = pd.MultiIndex.from_tuples(pf_df.columns)
pf_df = pf_df.sort_index(axis=1)

In [173]:
pf_df

,01.2018,01.2019,01.2020,01.2021,01.2022,01.2023,01.2024,01.2025,02.2018,02.2019,...,11.2022,11.2023,11.2024,12.2018,12.2019,12.2020,12.2021,12.2022,12.2023,12.2024
,Pf,Pf,Pf,Pf,Pf,Pf,Pf,Pf,Pf,Pf,...,Pf,Pf,Pf,Pf,Pf,Pf,Pf,Pf,Pf,Pf
0,12540.0,11301.2,12123.2,11428.2,11941.8,898.4,13187.4,12739.8,11558.8,11897.4,...,12107.2,13226.0,12507.4,11619.2,12107.2,11781.8,11949.0,12689.4,12548.6,11934.2
1,58338.6,58335.0,58497.0,51143.4,57831.6,62868.8,63312.6,62678.8,54957.0,59245.4,...,62255.0,62857.2,63451.2,58406.0,59661.2,48961.2,55602.0,63122.4,62599.6,63237.0
2,73400.4,69836.6,46163.2,72162.8,106235.4,51538.0,69283.4,69878.0,71989.6,709.4,...,72435.0,70785.2,69341.4,71370.8,69522.8,73779.6,106722.4,72163.0,72410.6,69390.8
3,18363.0,18266.4,17654.4,17560.8,17762.4,15847.2,16221.6,17625.6,18547.2,18727.2,...,16380.0,16250.4,17085.6,8978.4,18496.8,17085.6,17366.4,15782.4,16020.0,16754.4
4,0.0,0.0,0.0,0.0,594.0,79477.2,80704.8,86684.4,0.0,0.0,...,79437.6,80625.6,81496.8,0.0,0.0,0.0,198.0,79437.6,80863.2,80665.2

In [174]:
raw_source = pd.concat([raw_source[[(np.nan, 'Contrat')]], pf_df], axis=1)

In [175]:
raw_source.columns = [
    f"{lvl2}__{lvl1}" if not pd.isna(lvl1) else str(lvl2)
    for lvl1, lvl2 in raw_source.columns
]

In [176]:
raw_source

,Contrat,Pf__01.2018,Pf__01.2019,Pf__01.2020,Pf__01.2021,Pf__01.2022,Pf__01.2023,Pf__01.2024,Pf__01.2025,Pf__02.2018,...,Pf__11.2022,Pf__11.2023,Pf__11.2024,Pf__12.2018,Pf__12.2019,Pf__12.2020,Pf__12.2021,Pf__12.2022,Pf__12.2023,Pf__12.2024
0,217014,12540.0,11301.2,12123.2,11428.2,11941.8,898.4,13187.4,12739.8,11558.8,...,12107.2,13226.0,12507.4,11619.2,12107.2,11781.8,11949.0,12689.4,12548.6,11934.2
1,217266,58338.6,58335.0,58497.0,51143.4,57831.6,62868.8,63312.6,62678.8,54957.0,...,62255.0,62857.2,63451.2,58406.0,59661.2,48961.2,55602.0,63122.4,62599.6,63237.0
2,3861343,73400.4,69836.6,46163.2,72162.8,106235.4,51538.0,69283.4,69878.0,71989.6,...,72435.0,70785.2,69341.4,71370.8,69522.8,73779.6,106722.4,72163.0,72410.6,69390.8
3,4784239,18363.0,18266.4,17654.4,17560.8,17762.4,15847.2,16221.6,17625.6,18547.2,...,16380.0,16250.4,17085.6,8978.4,18496.8,17085.6,17366.4,15782.4,16020.0,16754.4
4,8303294,0.0,0.0,0.0,0.0,594.0,79477.2,80704.8,86684.4,0.0,...,79437.6,80625.6,81496.8,0.0,0.0,0.0,198.0,79437.6,80863.2,80665.2

In [178]:
wide = pd.concat([wide, raw_source])

In [180]:
dd = wide.copy()

In [181]:
import re
import pandas as pd

id_cols = ['Contrat']

val_cols = [c for c in wide.columns if re.match(r'^.+__\d{2}\.\d{4}$', str(c))]

long = wide.melt(id_vars=id_cols, value_vars=val_cols,
               var_name='key', value_name='value')

parts = long['key'].str.extract(r'^(?P<metric>.+?)__(?P<Month>\d{2})\.(?P<Year>\d{4})')
long = pd.concat([long.drop(columns='key'), parts], axis=1)
long['Month'] = long['Month'].astype(int)
long['Year'] = long['Year'].astype(int)
long['metric'] = long['metric'].str.strip()

wide = (long.pivot_table(index=id_cols+['Year','Month'],
                         columns='metric', values='value', aggfunc='first')
             .reset_index())

wide = wide.rename(columns={'Pf':'puissance appelée'})

In [184]:
wide

metric  Contrat  Year  Month  puissance appelée
0        217004  2018      1              164.8
1        217004  2018      2              147.8
2        217004  2018      3              149.2
3        217004  2018      4              147.8
4        217004  2018      5              144.8
...         ...   ...    ...                ...
14689   9549388  2025      5                0.0
14690   9549388  2025      6                0.0
14691   9549388  2025      7                0.0
14692   9549388  2025      8             3375.2
14693   9549388  2025      9             3476.2

[14694 rows x 4 columns]

In [185]:
wide.rename(columns = {"Contrat":"contrat","Month": "mois", "Year": "annee"}, inplace = True)

In [186]:
wide.dtypes

metric
contrat                int64
annee                  int64
mois                   int64
puissance appelée    float64
dtype: object

In [188]:
len(df)

21252

In [189]:
wide

metric  contrat  annee  mois  puissance appelée
0        217004   2018     1              164.8
1        217004   2018     2              147.8
2        217004   2018     3              149.2
3        217004   2018     4              147.8
4        217004   2018     5              144.8
...         ...    ...   ...                ...
14689   9549388   2025     5                0.0
14690   9549388   2025     6                0.0
14691   9549388   2025     7                0.0
14692   9549388   2025     8             3375.2
14693   9549388   2025     9             3476.2

[14694 rows x 4 columns]

In [190]:
merged_df = df.merge(wide, how = "left", on = ["contrat", "annee", "mois"])

In [195]:
merged_df.to_csv(PROJECT_ROOT / "data/cd_data_2013_2023.csv", index = False)

In [197]:
import sqlite3
db_conn = sqlite3.connect(PROJECT_ROOT / "data/cd_database_2013_2023.db")
merged_df.to_sql("cd", db_conn, if_exists="replace", index=False)

21252