In [1]:
import os
from pathlib import Path
import pandas as pd

In [2]:
PROJECT_ROOT = Path(os.getcwd()).resolve().parents[0]

In [114]:
df = pd.read_excel(PROJECT_ROOT / "data/raw/Nombre de clients MT par DR et par Activité de 2018 à 2023.xlsx", header = None)

In [115]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,64,65,66,67,68,69,70,71,72,73
0,Direction régionale,Activités,2018.0000,2018.0000,2018.0000,2018.0000,2018.0000,2018.0000,2018.0000,2018.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,1.2018,2.2018,3.2018,4.2018,5.2018,6.2018,7.2018,8.2018,...,3.2023,4.2023,5.2023,6.2023,7.2023,8.2023,9.2023,10.2023,11.2023,12.2023
2,Direction Rég. CASA,Agricole,501.0000,503.0000,505.0000,504.0000,502.0000,500.0000,499.0000,499.0000,...,452.0000,452.0000,452.0000,450.0000,451.0000,451.0000,451.0000,453.0000,450.0000,450.0000
3,NaN,Industriel,1564.0000,1562.0000,1566.0000,1575.0000,1578.0000,1576.0000,1578.0000,1579.0000,...,1722.0000,1720.0000,1719.0000,1723.0000,1726.0000,1730.0000,1731.0000,1742.0000,1741.0000,1751.0000
4,NaN,Tertaire,1189.0000,1197.0000,1205.0000,1209.0000,1213.0000,1216.0000,1218.0000,1219.0000,...,1314.0000,1316.0000,1323.0000,1325.0000,1325.0000,1330.0000,1338.0000,1343.0000,1350.0000,1359.0000

In [116]:
df.drop(index = [0], inplace = True)

In [123]:
def fmt_two_int_digits(val: float) -> str:
    s = f"{val:.4f}"           # e.g. "3.0000" or "-7.1250"
    sign = "-" if s.startswith("-") else ""
    if sign: s = s[1:]
    int_part, frac = s.split(".")
    int_part = int_part.zfill(2)  # ensure at least two digits before the dot
    return f"{sign}{int_part}.{frac}"

cols = ["City", "Activity"]
for val in df.iloc[0, 2:]:
    cols.append(f"NB_CLIENTS__{fmt_two_int_digits(val)}")

In [124]:
df.columns = cols

In [125]:
df

,City,Activity,NB_CLIENTS__01.2018,NB_CLIENTS__02.2018,NB_CLIENTS__03.2018,NB_CLIENTS__04.2018,NB_CLIENTS__05.2018,NB_CLIENTS__06.2018,NB_CLIENTS__07.2018,NB_CLIENTS__08.2018,...,NB_CLIENTS__03.2023,NB_CLIENTS__04.2023,NB_CLIENTS__05.2023,NB_CLIENTS__06.2023,NB_CLIENTS__07.2023,NB_CLIENTS__08.2023,NB_CLIENTS__09.2023,NB_CLIENTS__10.2023,NB_CLIENTS__11.2023,NB_CLIENTS__12.2023
1,NaN,NaN,1.2018,2.2018,3.2018,4.2018,5.2018,6.2018,7.2018,8.2018,...,3.2023,4.2023,5.2023,6.2023,7.2023,8.2023,9.2023,10.2023,11.2023,12.2023
2,Direction Rég. CASA,Agricole,501.0000,503.0000,505.0000,504.0000,502.0000,500.0000,499.0000,499.0000,...,452.0000,452.0000,452.0000,450.0000,451.0000,451.0000,451.0000,453.0000,450.0000,450.0000
3,NaN,Industriel,1564.0000,1562.0000,1566.0000,1575.0000,1578.0000,1576.0000,1578.0000,1579.0000,...,1722.0000,1720.0000,1719.0000,1723.0000,1726.0000,1730.0000,1731.0000,1742.0000,1741.0000,1751.0000
4,NaN,Tertaire,1189.0000,1197.0000,1205.0000,1209.0000,1213.0000,1216.0000,1218.0000,1219.0000,...,1314.0000,1316.0000,1323.0000,1325.0000,1325.0000,1330.0000,1338.0000,1343.0000,1350.0000,1359.0000
5,NaN,Administratif,315.0000,318.0000,319.0000,322.0000,327.0000,332.0000,334.0000,336.0000,...,446.0000,445.0000,447.0000,447.0000,447.0000,449.0000,449.0000,449.0000,449.0000,449.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,NaN,Administratif,83.0000,83.0000,83.0000,83.0000,83.0000,84.0000,82.0000,84.0000,...,135.0000,136.0000,137.0000,137.0000,139.0000,139.0000,140.0000,140.0000,139.0000,139.0000
69,NaN,Résidentiel,19.0000,19.0000,19.0000,19.0000,19.0000,19.0000,20.0000,20.0000,...,58.0000,58.0000,62.0000,63.0000,64.0000,65.0000,66.0000,68.0000,68.0000,68.0000
70,NaN,Distributeurs,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,...,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
71,Somme DR Tanger,NaN,768.0000,767.0000,770.0000,779.0000,787.0000,798.0000,787.0000,792.0000,...,1121.0000,1126.0000,1135.0000,1138.0000,1150.0000,1160.0000,1171.0000,1190.0000,1189.0000,1193.0000
72,Somme des DR,NaN,23986.0000,24034.0000,24115.0000,24205.0000,24277.0000,24373.0000,24460.0000,24509.0000,...,28217.0000,28308.0000,28406.0000,28482.0000,28575.0000,28655.0000,28726.0000,28849.0000,28908.0000,28991.0000

In [126]:
df = df.drop(index= [1]).reset_index(drop=True)

In [127]:
df['City'] = df['City'].fillna(method='ffill')

C:\Users\Soufiane.AITELAOUAD\AppData\Local\Temp\ipykernel_25320\1297289448.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['City'] = df['City'].fillna(method='ffill')

In [128]:
df = df[~df["City"].str.startswith("Somme")]

In [129]:
def extract_city(s):
    return s.split(':')[-1].strip().split()[-1]
unique = set()
for s in df["City"]:
    city = extract_city(s)
    if city not in unique:
        unique.add(city)

In [130]:
unique

{'AGADIR',
 'CASA',
 'ERRACHIDIA',
 'FES',
 'LAAYOUNE',
 'MARRAKECH',
 'MELLAL',
 'OUJDA',
 'RABAT',
 'TANGER'}

In [131]:
df["Activity"].unique()

array(['Agricole', 'Industriel', 'Tertaire', 'Administratif',
       'Résidentiel', 'Distributeurs'], dtype=object)

In [132]:
df = df[df["Activity"] != "Distributeurs"]

In [133]:
activity_mapping = {
    'Agricole': 'Agricole',
    'Industriel': 'Industriel',
    'Tertaire': 'Tertiaire',
    'Administratif': 'Administratif',
    'Résidentiel': 'Résidentiel'
}

In [134]:
df["Activity"] = df["Activity"].replace(activity_mapping)

In [135]:
df["Activity"].unique()

array(['Agricole', 'Industriel', 'Tertiaire', 'Administratif',
       'Résidentiel'], dtype=object)

In [136]:
city_mapping = {
    'AGADIR': 'agadir',
    'CASA': 'casablanca',
    'ERRACHIDIA': 'errachidia',
    'FES': 'fes',
    'LAAYOUNE': 'laayoune',
    'MARRAKECH': 'marrakech',
    'MELLAL': 'beni_mellal',
    'OUJDA': 'oujda',
    'RABAT': 'rabat',
    'TANGER': 'tanger'
}

In [137]:
df["City"] = df["City"].apply(lambda s: city_mapping[extract_city(s)])

In [138]:
df = df.groupby(["City","Activity"], as_index = False).sum()

In [139]:
df_regional_orig.columns

Index(['Classe', 'Activity', 'City', 'Year', 'Month', 'Nbr Clients', 'MWh',
       'kDH', 'tempmax', 'tempmin', 'temp', 'precip', 'Region'],
      dtype='object')

In [140]:
df

,City,Activity,NB_CLIENTS__01.2018,NB_CLIENTS__02.2018,NB_CLIENTS__03.2018,NB_CLIENTS__04.2018,NB_CLIENTS__05.2018,NB_CLIENTS__06.2018,NB_CLIENTS__07.2018,NB_CLIENTS__08.2018,...,NB_CLIENTS__03.2023,NB_CLIENTS__04.2023,NB_CLIENTS__05.2023,NB_CLIENTS__06.2023,NB_CLIENTS__07.2023,NB_CLIENTS__08.2023,NB_CLIENTS__09.2023,NB_CLIENTS__10.2023,NB_CLIENTS__11.2023,NB_CLIENTS__12.2023
0,agadir,Administratif,188.0,187.0,188.0,190.0,191.0,191.0,191.0,192.0,...,234.0,234.0,235.0,235.0,237.0,238.0,238.0,238.0,239.0,243.0
1,agadir,Agricole,3554.0,3556.0,3570.0,3572.0,3567.0,3577.0,3590.0,3589.0,...,3699.0,3706.0,3706.0,3707.0,3713.0,3711.0,3703.0,3709.0,3705.0,3712.0
2,agadir,Industriel,560.0,560.0,557.0,557.0,558.0,559.0,564.0,565.0,...,693.0,695.0,697.0,699.0,700.0,709.0,709.0,719.0,724.0,726.0
3,agadir,Résidentiel,28.0,28.0,27.0,27.0,27.0,29.0,30.0,30.0,...,52.0,52.0,53.0,54.0,55.0,56.0,56.0,57.0,57.0,57.0
4,agadir,Tertiaire,853.0,853.0,855.0,859.0,862.0,866.0,867.0,869.0,...,971.0,973.0,973.0,974.0,974.0,976.0,979.0,982.0,985.0,986.0
5,beni_mellal,Administratif,223.0,224.0,226.0,226.0,227.0,227.0,227.0,227.0,...,265.0,263.0,266.0,267.0,268.0,268.0,268.0,268.0,272.0,275.0
6,beni_mellal,Agricole,568.0,566.0,566.0,575.0,577.0,579.0,587.0,588.0,...,612.0,612.0,614.0,614.0,613.0,613.0,616.0,614.0,615.0,616.0
7,beni_mellal,Industriel,417.0,419.0,420.0,420.0,421.0,423.0,426.0,427.0,...,472.0,473.0,474.0,475.0,477.0,476.0,474.0,477.0,477.0,476.0
8,beni_mellal,Résidentiel,30.0,31.0,34.0,34.0,34.0,34.0,34.0,34.0,...,88.0,90.0,89.0,90.0,91.0,94.0,94.0,96.0,97.0,98.0
9,beni_mellal,Tertiaire,466.0,469.0,471.0,475.0,476.0,477.0,478.0,478.0,...,512.0,513.0,515.0,518.0,518.0,518.0,520.0,525.0,525.0,524.0
10,casablanca,Administratif,315.0,318.0,319.0,322.0,327.0,332.0,334.0,336.0,...,446.0,445.0,447.0,447.0,447.0,449.0,449.0,449.0,449.0,449.0
11,casablanca,Agricole,501.0,503.0,505.0,504.0,502.0,500.0,499.0,499.0,...,452.0,452.0,452.0,450.0,451.0,451.0,451.0,453.0,450.0,450.0
12,casablanca,Industriel,1564.0,1562.0,1566.0,1575.0,1578.0,1576.0,1578.0,1579.0,...,1722.0,1720.0,1719.0,1723.0,1726.0,1730.0,1731.0,1742.0,1741.0,1751.0
13,casablanca,Résidentiel,463.0,461.0,463.0,460.0,459.0,464.0,467.0,470.0,...,733.0,747.0,752.0,753.0,767.0,774.0,782.0,788.0,795.0,798.0
14,casablanca,Tertiaire,1189.0,1197.0,1205.0,1209.0,1213.0,1216.0,1218.0,1219.0,...,1314.0,1316.0,1323.0,1325.0,1325.0,1330.0,1338.0,1343.0,1350.0,1359.0
15,errachidia,Administratif,117.0,118.0,121.0,121.0,123.0,123.0,124.0,126.0,...,186.0,187.0,186.0,186.0,186.0,186.0,186.0,187.0,187.0,188.0
16,errachidia,Agricole,106.0,106.0,107.0,108.0,107.0,106.0,106.0,107.0,...,134.0,135.0,137.0,137.0,139.0,140.0,142.0,142.0,142.0,142.0
17,errachidia,Industriel,287.0,287.0,291.0,296.0,300.0,300.0,301.0,301.0,...,346.0,347.0,350.0,351.0,352.0,356.0,357.0,359.0,360.0,363.0
18,errachidia,Résidentiel,21.0,21.0,22.0,23.0,23.0,22.0,22.0,22.0,...,45.0,45.0,46.0,47.0,47.0,48.0,48.0,49.0,52.0,53.0
19,errachidia,Tertiaire,594.0,595.0,595.0,595.0,597.0,599.0,603.0,603.0,...,707.0,709.0,714.0,716.0,717.0,716.0,717.0,719.0,719.0,721.0
20,fes,Administratif,130.0,131.0,131.0,133.0,134.0,134.0,136.0,137.0,...,159.0,162.0,162.0,162.0,162.0,162.0,162.0,162.0,163.0,165.0
21,fes,Agricole,1108.0,1113.0,1117.0,1122.0,1127.0,1132.0,1136.0,1137.0,...,1187.0,1187.0,1189.0,1189.0,1188.0,1191.0,1188.0,1184.0,1190.0,1192.0
22,fes,Industriel,862.0,865.0,867.0,868.0,870.0,871.0,878.0,885.0,...,1110.0,1112.0,1113.0,1126.0,1135.0,1138.0,1144.0,1149.0,1150.0,1154.0
23,fes,Résidentiel,32.0,33.0,33.0,33.0,33.0,35.0,36.0,36.0,...,81.0,84.0,87.0,89.0,89.0,90.0,92.0,91.0,94.0,97.0
24,fes,Tertiaire,628.0,630.0,635.0,639.0,643.0,644.0,643.0,645.0,...,719.0,721.0,721.0,721.0,719.0,718.0,720.0,729.0,734.0,735.0
25,laayoune,Administratif,94.0,93.0,93.0,93.0,93.0,94.0,94.0,94.0,...,120.0,123.0,126.0,126.0,126.0,126.0,126.0,127.0,127.0,127.0
26,laayoune,Agricole,61.0,61.0,60.0,59.0,59.0,59.0,60.0,60.0,...,63.0,64.0,64.0,64.0,65.0,65.0,65.0,65.0,65.0,65.0
27,laayoune,Industriel,243.0,243.0,245.0,245.0,245.0,247.0,249.0,250.0,...,295.0,298.0,298.0,301.0,304.0,304.0,303.0,303.0,305.0,306.0
28,laayoune,Résidentiel,37.0,37.0,38.0,39.0,40.0,40.0,40.0,40.0,...,71.0,71.0,73.0,75.0,77.0,77.0,76.0,78.0,78.0,79.0
29,laayoune,Tertiaire,283.0,283.0,284.0,284.0,291.0,294.0,295.0,298.0,...,391.0,391.0,393.0,396.0,399.0,400.0,400.0,403.0,405.0,407.0
30,marrakech,Administratif,159.0,159.0,161.0,161.0,161.0,160.0,161.0,161.0,...,207.0,209.0,209.0,211.0,212.0,212.0,213.0,213.0,213.0,213.0
31,marrakech,Agricole,1352.0,1355.0,1355.0,1356.0,1353.0,1359.0,1358.0,1360.0,...,1323.0,1322.0,1320.0,1320.0,1321.0,1323.0,1320.0,1318.0,1317.0,1314.0
32,marrakech,Industriel,732.0,734.0,741.0,747.0,754.0,764.0,771.0,774.0,...,965.0,972.0,974.0,983.0,987.0,989.0,998.0,1005.0,1010.0,1010.0
33,marrakech,Résidentiel,630.0,630.0,628.0,632.0,632.0,631.0,634.0,631.0,...,767.0,769.0,768.0,770.0,774.0,781.0,784.0,784.0,787.0,793.0
34,marrakech,Tertiaire,1058.0,1060.0,1062.0,1067.0,1075.0,1081.0,1088.0,1089.0,...,1309.0,1316.0,1322.0,1326.0,1332.0,1337.0,1341.0,1345.0,1350.0,1350.0
35,oujda,Administratif,210.0,212.0,215.0,217.0,219.0,219.0,221.0,223.0,...,304.0,305.0,307.0,310.0,311.0,312.0,315.0,317.0,312.0,314.0
36,oujda,Agricole,392.0,394.0,396.0,399.0,401.0,404.0,405.0,404.0,...,414.0,412.0,412.0,412.0,413.0,413.0,412.0,411.0,412.0,412.0
37,oujda,Industriel,585.0,590.0,591.0,595.0,602.0,605.0,606.0,606.0,...,747.0,752.0,760.0,759.0,763.0,764.0,766.0,769.0,770.0,776.0
38,oujda,Résidentiel,13.0,13.0,13.0,13.0,14.0,14.0,14.0,14.0,...,24.0,24.0,25.0,26.0,26.0,27.0,28.0,28.0,28.0,27.0
39,oujda,Tertiaire,702.0,705.0,706.0,709.0,709.0,710.0,710.0,710.0,...,771.0,776.0,785.0,784.0,784.0,787.0,794.0,798.0,800.0,802.0
40,rabat,Administratif,109.0,109.0,109.0,108.0,108.0,108.0,110.0,110.0,...,127.0,127.0,128.0,128.0,130.0,131.0,130.0,131.0,131.0,131.0
41,rabat,Agricole,937.0,938.0,937.0,939.0,934.0,939.0,947.0,952.0,...,1116.0,1121.0,1125.0,1133.0,1136.0,1137.0,1141.0,1145.0,1144.0,1146.0
42,rabat,Industriel,340.0,342.0,343.0,343.0,345.0,353.0,355.0,355.0,...,513.0,515.0,522.0,523.0,526.0,528.0,532.0,539.0,543.0,545.0
43,rabat,Résidentiel,134.0,133.0,134.0,134.0,134.0,135.0,137.0,141.0,...,224.0,228.0,232.0,233.0,235.0,236.0,238.0,240.0,241.0,242.0
44,rabat,Tertiaire,343.0,343.0,343.0,343.0,345.0,343.0,343.0,344.0,...,406.0,407.0,408.0,409.0,408.0,408.0,409.0,409.0,409.0,409.0
45,tanger,Administratif,83.0,83.0,83.0,83.0,83.0,84.0,82.0,84.0,...,135.0,136.0,137.0,137.0,139.0,139.0,140.0,140.0,139.0,139.0
46,tanger,Agricole,70.0,70.0,71.0,73.0,75.0,73.0,67.0,66.0,...,74.0,74.0,74.0,73.0,72.0,73.0,73.0,73.0,74.0,74.0
47,tanger,Industriel,281.0,279.0,279.0,285.0,289.0,298.0,293.0,297.0,...,490.0,492.0,495.0,494.0,503.0,508.0,517.0,530.0,533.0,536.0
48,tanger,Résidentiel,19.0,19.0,19.0,19.0,19.0,19.0,20.0,20.0,...,58.0,58.0,62.0,63.0,64.0,65.0,66.0,68.0,68.0,68.0
49,tanger,Tertiaire,315.0,316.0,318.0,319.0,321.0,323.0,324.0,324.0,...,363.0,365.0,366.0,370.0,371.0,374.0,374.0,378.0,374.0,375.0

In [141]:
import re
import pandas as pd

id_cols = ['City', 'Activity']

val_cols = [c for c in df.columns if re.match(r'^.+__\d{2}\.\d{4}$', str(c))]

long = df.melt(id_vars=id_cols, value_vars=val_cols,
               var_name='key', value_name='value')

parts = long['key'].str.extract(r'^(?P<metric>.+?)__(?P<Month>\d{2})\.(?P<Year>\d{4})')
long = pd.concat([long.drop(columns='key'), parts], axis=1)
long['Month'] = long['Month'].astype(int)
long['Year'] = long['Year'].astype(int)
long['metric'] = long['metric'].str.strip()

wide = (long.pivot_table(index=id_cols+['Year','Month'],
                         columns='metric', values='value', aggfunc='first')
             .reset_index())

wide = wide.rename(columns={'NB_CLIENTS':'Nbr Clients'})

In [142]:
wide

metric    City       Activity  Year  Month  Nbr Clients
0       agadir  Administratif  2018      1        188.0
1       agadir  Administratif  2018      2        187.0
2       agadir  Administratif  2018      3        188.0
3       agadir  Administratif  2018      4        190.0
4       agadir  Administratif  2018      5        191.0
...        ...            ...   ...    ...          ...
3595    tanger      Tertiaire  2023      8        374.0
3596    tanger      Tertiaire  2023      9        374.0
3597    tanger      Tertiaire  2023     10        378.0
3598    tanger      Tertiaire  2023     11        374.0
3599    tanger      Tertiaire  2023     12        375.0

[3600 rows x 5 columns]

In [48]:
df_regional_orig.columns

Index(['Classe', 'Activity', 'City', 'Year', 'Month', 'Nbr Clients', 'MWh',
       'kDH', 'tempmax', 'tempmin', 'temp', 'precip', 'Region'],
      dtype='object')

In [144]:
wide.columns

Index(['City', 'Activity', 'Year', 'Month', 'Nbr Clients'], dtype='object', name='metric')

In [145]:
city_to_region = {
    'beni_mellal': 'Béni Mellal-Khénifra',
    'casablanca': 'Casablanca-Settat',
    'errachidia': 'Drâa-Tafilalet',
    'fes': 'Fès-Meknès',
    'laayoune': 'Laâyoune-Sakia El Hamra',
    'marrakech': 'Marrakech-Safi',
    'oujda': 'Oriental',
    'rabat': 'Rabat-Salé-Kénitra',
    'agadir': 'Souss-Massa',
    'tanger': 'Tanger-Tétouan-Al Hoceïma'
}

In [146]:
wide["Region"] = wide["City"].apply(lambda x: city_to_region[x])

In [155]:
final_df = pd.read_csv(PROJECT_ROOT / "data/srm_data_2007_2023_mt.csv")

In [156]:
final_df

,City,Activity,Year,Month,MWh,Nbr Clients,Region
0,agadir,Administratif,2007,1,1196.854000,58.0,Souss-Massa
1,agadir,Agricole,2007,1,26592.373000,1410.0,Souss-Massa
2,agadir,Industriel,2007,1,27231.841000,1414.0,Souss-Massa
3,agadir,Résidentiel,2007,1,0.000000,0.0,Souss-Massa
4,agadir,Tertiaire,2007,1,9694.562000,266.0,Souss-Massa
...,...,...,...,...,...,...,...
10195,tanger,Administratif,2023,12,1695.354333,NaN,Tanger-Tétouan-Al Hoceïma
10196,tanger,Agricole,2023,12,1462.290667,NaN,Tanger-Tétouan-Al Hoceïma
10197,tanger,Industriel,2023,12,15002.030333,NaN,Tanger-Tétouan-Al Hoceïma
10198,tanger,Résidentiel,2023,12,352.108000,NaN,Tanger-Tétouan-Al Hoceïma
10199,tanger,Tertiaire,2023,12,2518.010000,NaN,Tanger-Tétouan-Al Hoceïma

In [147]:
wide

metric,City,Activity,Year,Month,Nbr Clients,Region
0,agadir,Administratif,2018,1,188.0,Souss-Massa
1,agadir,Administratif,2018,2,187.0,Souss-Massa
2,agadir,Administratif,2018,3,188.0,Souss-Massa
3,agadir,Administratif,2018,4,190.0,Souss-Massa
4,agadir,Administratif,2018,5,191.0,Souss-Massa
...,...,...,...,...,...,...
3595,tanger,Tertiaire,2023,8,374.0,Tanger-Tétouan-Al Hoceïma
3596,tanger,Tertiaire,2023,9,374.0,Tanger-Tétouan-Al Hoceïma
3597,tanger,Tertiaire,2023,10,378.0,Tanger-Tétouan-Al Hoceïma
3598,tanger,Tertiaire,2023,11,374.0,Tanger-Tétouan-Al Hoceïma
3599,tanger,Tertiaire,2023,12,375.0,Tanger-Tétouan-Al Hoceïma

In [157]:
keys = ['City', 'Activity', 'Year', 'Month']          # common columns
target_col = 'Nbr Clients'                            # column to fill in final_df
source_col = 'Nbr Clients'                            # column in wide that has the values

# build source series (in case wide has duplicates, pick one rule: mean)
src = (wide
       .dropna(subset=[source_col])
       .groupby(keys, as_index=True)[source_col]
       .mean())                                       # or .first(), .max(), etc.
print(len(src))
# merge and fill
final_df = final_df.merge(src.rename(f'{target_col}_src'),
                          on=keys, how='left')

final_df[target_col] = final_df[target_col].fillna(final_df[f'{target_col}_src'])
final_df = final_df.drop(columns=[f'{target_col}_src'])

3600

In [166]:
final_df.to_csv(PROJECT_ROOT / "data/srm_data_2007_2023_mt.csv", index = False)

In [167]:
import sqlite3

# Path to your existing SQLite database
db_path = PROJECT_ROOT / "data/ONEE_Regional_COMPLETE_2007_2023.db"

# Connect to the existing SQLite database
conn = sqlite3.connect(db_path)

# Name of the new table you want to create
table_name = 'monthly_data_mt'

# Write the DataFrame to the new table
final_df.to_sql(table_name, conn, if_exists='replace', index=False)

conn.close()